* {

    padding: 0;
    box-sizing: border-box;
    
}

html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    background-color: #1E1E1E;
}

h1 {
    font-size: 3.4rem;
    color: #FFFFFF;
}

h3 {
    font-size: 1.8rem;
    color: #858585;
    font-weight: normal;
    margin-top: -1rem;
}

#container {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#container h1,h3 {
    text-align: center;
}

#video-container {
    max-width: 600px;
    height: auto;
    position: relative;
}

#video {
    border-radius: 5px;
}

#playButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    color: white;
    width: 5rem;
    height: 5rem;
    border: none;
    cursor: pointer;
    z-index: 1; /* Certifica-se de que o botão fique sobre o vídeo */
    display: block; /* Mostra o botão de play inicialmente */
}

/* Estilo para ocultar o botão de play quando o vídeo estiver reproduzindo */
video.playing + #playButton {
    display: none;
}

/* Adiciona a classe 'playing' quando o vídeo for reproduzido */
video.playing {
    opacity: 1;
}

/* Estilo para ocultar a barra de progresso */
video::-webkit-media-controls-enclosure {
    display: none !important;
}

video::-webkit-media-controls-panel {
    display: none !important;
}

video::-webkit-media-controls-play-button {
    display: -webkit-initial;
}

.div-logo {
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-logo {
    width: 5rem;
}

@media (max-width: 800px) {
    
    #container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    }

    h1 {
        font-size: 2.4rem;
    }

    h3 {
        font-size: 1.2rem;
    }
}